*{
    margin: 0 0;
    padding: 2px 2px;
}
.navbar{
    display: flex;
}
.container{
    display: flex;
    width: 100%;
    padding: 1%;
    gap: 20%;
    height: 50px;

}
.logo{
    width: 10%;
}
.logo a img{
    width: 60%;
}
.menu-text {
    width: 80%;
    line-height: 50px;
}
.menu-text ul{
    display: flex;
    gap: 5%;
}
.menu-text ul li{
    list-style: none;
}
.menu-text ul li a{
    text-decoration: none;
    color: goldenrod;
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px #000;
}
.menu-text ul li a:hover{
    color: aqua;
}



.food-search{
    background-image: url("../images/food9.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
    border-radius: 10px;
    margin-top: 5px;
}
.search-container{
    margin-left: 30px;
}
.search-input{
    width: 30%;
    height: 30px;
    border: none;
    border-radius: 5px;
}
.search-input:focus{
    border: none;
}
.search-button{
    width: 5%;
    background-color: rgb(139, 74, 27);
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;

}
.search-button:hover{
    background-color: gold;
    color: black;
}




.sec-categories{
    padding: 4% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categories h1{
    text-align: center;
    text-shadow: 1px 1px 1px white;
}
.item{
    width: 28%;
    float: left;
    margin: 2%;
}
.item img{
    border-radius: 5px;
}
.item h3{
    text-align: center;
    color: goldenrod;
}




.social-cont{
    gap: 10px;
}
.social ul li{
    display: inline;
    /* background-color: black; */
}

.text-center{
    text-align: center;
    /* margin-top: 530px; */
}
.text-center a{
    text-decoration: none;
    /* color: rgb(184, 37, 11); */
    color: black;
    font-size: large;
    font-weight: bold;
}